<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">            <!-- header section -->
        <div class="col-12" style="height: 100px;">
          <div class="row">
            <div class="col-2 " style="height: 100px;  background-image: url(/assets/logo.jpg")>
            </div>             <!-- logo pik div -->
             <div class="col-10" style="height: 100px; background-color: #A9A9A9">
              <%= button_to 'logout',  destroy_user_session_path, method: :delete, class: "btn pull-right", style: "margin-top: 20px" %>
            </div>        
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-2" style=" background-color: #FF7F50">
        </div>
        <div class="col-10" style=" background-color: #FFE4C4">
          <div class="row">
            <div class="col-1"></div>
            <div class="col-9">
              <h2>Listing albums</h2>
   
           <%= link_to 'New album', new_album_path %>
          <table>
            <tr>
              <th>Title</th>
              <th>Artist_name</th>
              <th> Tags</th>
            </tr>
           
            <% @albums.each do |album| %>
              <tr>
                <td><%= album.title %></td>
                <td><%= album.artist_name %></td>
                <td><%=  album.tag_list %></td>
                <td><%= link_to 'Show', album_path(album) %></td>
                <td><%= link_to 'Edit', edit_album_path(album) %></td>
                <td><%= link_to 'Destroy', album_path(album),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td> 
              </tr>
            <% end %>
          </table>
            </div>
            <div class="col-2"></div>
          </div>
          
        </div>
      </div>

    </div>
  </body>
</html>

